doctype html
html
	head
		title RuLiQ - Русскоязычный анонимный Linux чат
		meta(charset="utf-8")
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		link(rel="stylesheet" href="/static/style.css")
		link(rel="stylesheet" href="/static/fonts.css")
	body.hacker
		div.container
			header
				h1 История сообщений
			div#chatContainer
				div#chatLogin
					p
					h2= year
					div#chatEntries
					each item in calendar
						a(href=item._id+"/", class="year circle "+item.css) #{item._id}
							br
							span #{item.quantity}
						!{item.breakline}
					hr
					each item in chatLogs
						div.message.regular
							p
								a.year.circle(href=item._id+"/") #{item._id}
									br
									span #{item.quantity}

				p
					a(href="/", target="chatWindow") Перейти в чат
