doctype html
html
	head
		title RuLiQ - Русскоязычный анонимный Linux чат
		meta(charset="utf-8")
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		link(rel="stylesheet" href="/static/style.css")
		link(rel="stylesheet" href="/static/fonts.css")
	body.hacker
		div.container
			header
				h1 История сообщений
			div#chatContainer
				div#chatLogin
					p
					h2
						a(href="/logs/"+year+"/").
							#{year}
					h3= month
					div#chatEntries
					each item in chatLogs
						div.message.regular
							p
								span(title=(new Date(item.ts)).toString()) #{moment(item.ts).format('D MMM в H:mm')}
								a.nick  #{item.pseudo}:
								|   #{item.message}


					p
						a(href="/", target="chatWindow") Перейти в чат
